@media (max-width: 768px) and (min-width: 0px){
    #header, .aui-header {width:auto!important;}
    h1#logo span.aui-header-logo-text{    font-size: 16px!important; padding-left:0!important}
    #title-text {font-size:20px;}
     header .aui-nav, .aui-header .aui-header-secondary .aui-nav{margin-right:0px!important;  width:auto;padding: 0;}
    header #quick-search-query{width:inherit!important;}
    #quick-search{padding:auto;}
    header#header .aui-header .aui-header-secondary .aui-nav>li:first-child{ width: auto!important;}
    .wiki-content h2{ margin-top: 20px; }
     #splitter{min-width:auto;}
    #content{width:auto;}
    .wiki-content{overflow: auto;}
    .wiki-content .sectionMacro tbody tr td{display: block;}
    .wiki-content ol li {margin: 0 0px 0px -25px;padding: 10px 10px 0 0;word-break: break-word;line-height:25px;}
    .wiki-content p{line-height:25px;}
    .toc-indentation li, .sectionMacro ul li{margin-left:-25px!important;}
    .sectionMacro td{width:100%;margin-bottom:40px;}
     .sectionMacro tbody tr td{ padding-left: 0px!important;}
     .aui-message{padding:15px;}
     .aui-message .aui-icon { float: right!important;position: static;padding:5px;}
    .table-wrap{overflow:auto;}
    .confluenceTable {max-width:100%!important; overflow-x: auto;white-space:normal;font-size: 12px;}
    .space-logo{display:none!important;}
    .message-content .confluence-embedded-image{width:48px!important; height:48px!important;}
    .confluence-thumbnail {width:auto;}
    }
   @media (max-width:587px) and (min-width: 0px){
       .aui-header-secondary .aui-nav{float: left!important;}
   }
